.TF {
  font-family: Consolas;
}

html {
  box-sizing: border-box;
  margin-right: -8px;
  margin: -8px;
}

#Main {
  height: 100%;
  width: 100%;
  color: black;
}

#Header {
  height: 10%;
  width: auto;
  margin: 0px;
  overflow: hidden;
  color: white;
  text-align: center;
  background-color: #5e6e69;
}

#BT {
  height: auto;
  width: auto;
  margin: 0px;
  color: #828282;
  background-color: #fcfaf5;
  overflow: scroll;
}

#Footer {
  height: 10%;
  width: auto;
  margin: 0px;
  overflow: hidden;
  color: white;
  background-color: #5e6e69;
  text-align: center;
}

#Left-side {
  height: inherit;
  width: 50%;
  margin: 0px;
  text-align: left;
  float: left;
}

#Right-side {
  height: inherit;
  width: 50%;
  margin: 0px;
  text-align: center;
  float: right;
}

#FormLI {
  -webkit-font-smoothing: antialiased;
  background: #f0f0f0;
  display: inline;
}

#submitoption {
  float: right;
  background-color: #bff5c2;
}
